body {
  font-family: Inter, sans-serif;
  margin: 0%;
  text-align: center;

}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 5vw;
}

h1,
h2 {
  font-size: 10.667vw;
  margin: 1vw;
}

h1 {
  color: #172b4d;
}

h2 {
  color: #36b37e;
  font-size: 8vw;
  font-weight: 700;
}

.works h2 {
  color: #172b4d;
}

.about-text h2 {
color: #172b4d;
}

h3 {
  color: #3a4a42;
}

.supporting-text {
  color: #172b4d;
  font-size: 5.3vw;
  font-weight: 400;
  margin: 7.2vw;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

.tecnology-box p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 3.200vw;
}

#headline {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("images/header-illsutration-mobile@2x.png");
  background-size: cover;
  background-position: center, center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 0px;
}

#primary {
  margin-top: 10vw;
}

#social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
  margin: 0;
}

.menu-img {
  width: 6vw;
}

.social-icon {
  max-width: 5vw;
  height: auto;
}

.circle {
  border-radius: 50%;
  border: solid;
  border-color: #e9ebee;
  border-width: 2px;
  width: 9vw;
  height: 9vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.down-arrow {
  width: 5vw;
  height: 5vw;
}

hr {
  border: 0.54vw solid #36b37e;
  border-radius: 24px;
  width: 12%;
  margin-top: 6%;
  margin-bottom: 15%;
}

.card-container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr 8fr 1fr;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 1px solid;
  border-color: #d1d9d5;
  background-color: #ebf0ee;
  grid-column-start: 2;
  margin-bottom: 6.400vw;
}

.card-img {
  height: 83vw;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
}

.tecnologies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tecnology-box {
  background-color: #ebf0ee;
  border-radius: 10%;
  padding: 5px 10px;
}

.tecnology-box p {
  font-size: 0.8em;
  margin: 0;
}

.green-button {
  align-self: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  color: white;
  background-color: #36b37f;
  width: 30.533vw;
  height: 11.800vw;
  border-radius: 5px;
  font-size: small;
}

.about-me{
  position: relative;
  margin-top: 10%;

}

.about-text{
  display: flex;
  flex-direction: column;
  align-items:center ;
}

.about-rigth{
  position: absolute;
  right: 0;
  bottom:97%;
}

.about-left{
  position: absolute;
  left: 0;
  top:0;
  bottom:0;
}
.hability-card-holder{
  display: grid;
  margin: 35% auto;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: repeat(3,1fr);
  grid-row-gap:2%;
}

.hability-card{
  grid-column-start: 2;
}

.get-in-touch{
  margin-right: 10%;
  margin-left: 10%;
  font-size:8vw;
  color: #172b4d;
}

.contact-me{
  display: grid;
  margin: 8% auto;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-row-gap:8%;
  text-align: center;
}

.form-item{
  grid-column-start: 2;
  height: 12.800vw;
  border-radius: 6px;
  border: solid 1px #d0d9d4;
  font-style: italic;
}

.text-area{
  border:solid 1px #60c095;
  height: 30.400vw;
  font-style: normal;
  font-family: Inter, sans-serif;
}

.submit-button{
  font-style: normal;
  width: 30.533vw;
  height: 11.800vw;
  margin: auto 30%;
  color:white;
  background-color: #36b37F;

}

.footer{
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}

.footer-email{
  font-size: 5.333vw;
  font-family: Inter, sans-serif;
  color:#42526e;
}

.hr-bottom{
  border: 0.6vw solid black;
  width: 30%;
  margin-bottom: 1%;
}

.footer-ilustration{
  position: absolute;
  bottom: 3.5%;
  right: 0;
}

.circle:hover {
  background-color: #172b4d;
  background-color: azure;
}

.social-icon:hover {
  opacity: 0.8;
}